{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}


<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>Awesome Cart Private Limited is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.[5][6]
       The service competes primarily with Amazon India and domestic rival Snapdeal.[7][8] As of FY23, Awesome Cart held a 48% market share in the Indian e-commerce industry.[9] Awesoome Cart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[10]</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Why Choose Us</h2>
        <p>At [Awesome-Cart], we are committed to delivering exceptional results with a personal touch. Here’s why you should choose us:

          Expertise & Experience: Our team has years of experience in the industry, ensuring you receive top-quality service backed by deep knowledge and expertise.
          
          Tailored Solutions: We understand that every project is unique. We offer customized solutions that meet your specific needs and goals.
          
          Customer-Centric Approach: Your satisfaction is our priority. We listen to your needs, communicate transparently, and deliver exactly what you want.
          
          Innovative Technologies: We stay ahead of the curve, using the latest technologies and tools to ensure that our solutions are both modern and efficient.</p>
      </div>
      <div class="col-md-4">
        <h2>Benefits</h2>
        <p>When you choose [Your Company Name], you unlock a range of benefits that set us apart from the competition. Our dedicated team works tirelessly to ensure you get the best results, with personalized services that meet your specific needs. By leveraging the latest technologies and industry best practices, we deliver efficient and cost-effective solutions. Our customer-first approach ensures that you're always in the loop, with clear communication and a seamless experience throughout the process. Whether you're looking for innovative solutions or reliable support, partnering with us gives you peace of mind, knowing that you're working with experts who genuinely care about your success. </p>
      </div>
      <div class="col-md-4">
        <h2>Orders</h2>
        <p>At [Your Company Name], we take pride in the trust we've earned from our customers worldwide. With over 1 lakh products successfully delivered and more than 20 lakh people trusting us, we have proven ourselves as a reliable and dedicated partner. Our commitment to quality, timely delivery, and exceptional service has allowed us to build strong relationships with clients across the globe. Whether you're a first-time customer or a returning one, you can be confident in our ability to meet your needs and exceed your expectations. Join the thousands of satisfied customers who have made us their go-to choice for trusted solutions.</p>
      </div>
    </div>

    <hr>

  </div> 

</main>

<footer class="container">
  <p>&copy; Company 2017-2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}